[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
click = "*"
sphinx = "*"
mkdocs = "*"
parsimonious = {git = "https://github.com/erikrose/parsimonious.git"}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
